* {
    box-sizing:border-box;
}
body {
  margin: 20px;
}


#border-box {
  border: 4px solid black;
  width: 960px;
height: 570px;
margin-bottom: 130px;
}



header {
    display:inline-block;
}
#box_1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: red;
}

#box_2 {
    position: absolute;
    width: 200px;
    height: 200px;
    right:55px;
    background: green;
}

#box_3 {
    position:relative;
    width: 200px;
    height: 200px;
    margin-top: 362px;;
    margin-left:0;
    background: blue;
}

#box_4 {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 753px;
    bottom: 199px;
    background:yellow;
}

    
#second{
    border: 4px solid black;
  width: 960px;
height: 570px;
}

#box_one {
    display:inline-flex;
    width: 240px;
    height: 570px;
    background: red;
}

#box_two {
    display:inline-flex;
    width: 240px;
    height:570px;
    background: green;
}

#box_three {
    display:inline-flex;
    width: 240px;
    height: 570px;
    background: blue;
}

#box_four {
    display:inline-flex;
    width: 240px;
    height: 570px;
    background:yellow;
}

