body {
  margin: 70px;
}

* {
  box-sizing: border-box;
}

#wrapper {
  border: 2px dashed slategray;
  width: 1000px;
  margin: 0 auto;
}

.btn { border-radius: 5px;
    display: inline-block;
    margin: 10;
    color:black;
}

.btn-alt { border: 2px solid; color:crimson}