* {
    box-sizing: border-box;
}

.main-container {
    width: 1000px;
    margin: 0 auto 0 auto;
    background: black;
    color: white;
}

.promo-container{
    background: black;
    color: white;
}

header {
    display: flex;
}

.branding {
    background:black;
    color:white;
    width:150px;
    height:45px;
    margin-right: auto;
}

h1 
{font-family: 'Abel', sans-serif; font-weight: 100; color: white;
}

p{font-family: 'Droid Sans', sans-serif;}

.pill-button {
    display:inline-block;
    background:white;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 100px;
    color: teal;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /*Safari*/
    transition-duration: 0.4s;
}

.pill-button:hover {
    background-color: black;
    color: white;
}


div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

.promo{
    background: white;
    color: black;
    font-size: 18px;
}

/* Big Promo */

#big-promo {
    padding-top: 100px;
}

.promo-message {
    margin: 200px;
   text-align: center;
    width: 60%;
    padding: 50px;
}

/* Porduct Features */

.product-features, .product-buy-it-now {
    display: flex;
    }

.feature{
    text-align: center;
    padding: 20px;
    color: white;
}

.feature-image{
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    overflow: hidden;
    color: white;
}

.product-buy-it-now{
align-items: center;
margin-left: 225px;
}

.product-info{
    text-align: right;
    color: white;
}

/* Product Reviews */

#product-reviews{
background: black;
color: white;
text-align: center;
padding: 50px;
}

footer {
    display: flex;
    background: black;
}

.footer-copyright {
text-align: right;
} 
