* {
    box-sizing: border-box;
    background:teal;
}

.main-container {
    width: auto;
    margin: 0 auto 0 auto;
    background: teal;
}

.button-container{
    background: teal;
    color: black;
}

header { display:inline-flex;
    width:auto;
    }
.logo-image{
    width: 446px;
}

.image{
    width: 300px;
    height: 300px;

}

.signup{
margin-left: 100px;
}

h1 
{font-family: 'Abel', sans-serif; font-weight: 100; color: white;
}

p{font-family: 'Droid Sans', sans-serif;}

.pill-button {
    display:inline-block;
    background:white;
    margin-left:10px;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 100px;
    color: teal;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /*Safari*/
    transition-duration: 0.4s;
}

.pill-button:hover {
    background-color: black;
    color: white;
}


div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

.promo{
    background: white;
    color: black;
    font-size: 18px;
}

#big-promo {
    padding-top: 100px;
}

.message {
    margin: 200px;
   text-align: center;
    width: 60%;
    padding: 50px;
}

/* Porduct Features */

.product-features, .product-buy-it-now {
    display: flex;
    }

.feature{
    text-align: center;
    padding: 20px;
}

.ms-features{
 display:flex;
}

.msfeature{
    text-align: center;
    align: center;
    margin-left: 25px;

}
.pic
{display:inline-flex;
margin-left: 250px;
}

.pics{
display: inline-flex;
margin-left: 283px;
}

.feature-image{
    width: 200px;
    height:200px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.Viewfeatures{
align-content: center;
margin-right: 200px;
}

.product-info{
    text-align: center;
    width: 400px;
    padding-top: 50px;
}

/*#product-reviews{
background: teal;
color: white;
text-align: center;
padding: 50px;
}*/

.feature-text{
    margin-left: 470px;
    text-align: center;
    width: 500px;
    }
#wrapper {
  border: 2px solid black;
  width: 500px;
  margin: 0 auto;
padding: 10px
}

.prices{display: inline-block;
margin-left:200px;}

.NC{
text-align: center;
font-size: 40px;
}

.blog-image{
    float: right;
    padding: 5px;}
.bb-image{
    float: left;
    padding: 5px;}

.feature-pic{
    margin-left: 900px;
    display: flex;
    justify-content: flex-end;
}


footer {
    padding-top: 50px;
    text-align: right;
    margin: 10px;
    background: teal;
}



.footer-links{
    text-decoration-line: underline;
    word-spacing:2px;
}

.footer-copyright {
text-align: right;
} 
